<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prog.mapper.LocationMapper">
<select id="getReservList" parameterType="co.prog.vo.ReservVO">
select res_id,room_id,user_id,res_name,res_tel,res_per,to_char(res_sdate,'yyyy-mm-dd') res_sdate,
 to_char(res_edate+1,'yyyy-mm-dd') res_edate,res_state,res_date from reserv where room_id=#{roomId}
</select>

<select id="getAllLocaList" parameterType="co.prog.vo.LocationVO">
select * from loca
	<where>
	<choose>
		<when test="addrs=='all%'">
		1=1
		</when>
		<otherwise>
		loca_addr like #{addrs }
		</otherwise>
		</choose>
	</where>
</select>

<select id="getAlmostLocaList" parameterType="co.prog.vo.LocationVO">
select loca_addr from loca
<where>
<choose>
<when test="addrs == 'all%'">
1=1
</when>
<otherwise>
loca_addr like #{addrs }
</otherwise>
</choose>
</where>
</select>

<select id="getLocaDetail" parameterType="co.prog.vo.LocationVO" resultType="co.prog.vo.LocationVO">
select * from loca
<where>
<choose>
<when test="choice =='all'">
1=1
</when>
<otherwise>
loca_id=#{choice}
</otherwise>
</choose>
</where>
</select>


<select id="getLocaAddr" parameterType="co.prog.vo.LocationVO">
select loca_addr from loca
<where>
<choose>
<when test="choice =='all'">
1=1
</when>
<otherwise>
loca_id=#{choice}
</otherwise>
</choose>
</where>
</select>

<select id="getLocaNm" parameterType="co.prog.vo.LocationVO">
select loca_name from loca
<where>
<choose>
<when test="choice =='all'">
1=1
</when>
<otherwise>
loca_id=#{choice}
</otherwise>
</choose>
</where>
</select>

<insert id="insertReserv" parameterType="co.prog.vo.ReservVO">
insert into reserv(res_id,room_id,user_id,res_name,res_tel,res_sdate,res_edate) values(reserv_seq.nextval,#{roomId},#{userId},#{resName},#{resTel},#{resSdate},#{resEdate})
</insert>

<select id="getPerReserv" parameterType="String">
<![CDATA[select res_id,loca_id,room_id,loca_name,loca_tel,loca_addr,res_id,room_id,user_id,res_name,res_tel,to_char(res_sdate,'yyyy-mm-dd') res_sdate,
 to_char(res_edate,'yyyy-mm-dd') res_edate,res_state,res_date,loca_price,(res_edate-res_sdate)*loca_price res_price,req from reserv_view where user_id=#{userId} and res_sdate>sysdate]]>
</select>

<update id="modifyReserv" parameterType="co.prog.vo.ReservVO">
update reserv set res_sdate = #{resSdate}, res_edate= #{resEdate}, res_name =#{resName},res_tel=#{resTel} where res_id=#{resId}
</update>

<select id="getPReserv" parameterType="int">
select * from reserv where res_id = #{resId}
</select>

<select id="getPReservList" parameterType="co.prog.vo.ReservVO">
<![CDATA[select res_id,room_id,user_id,res_name,res_tel,res_per,to_char(res_sdate,'yyyy-mm-dd') res_sdate,
 to_char(res_edate+1,'yyyy-mm-dd') res_edate,res_state,res_date from reserv where room_id=#{roomId} and res_id<>#{resId} and req='N']]>
</select>

<delete id="deleteReserv">
delete reserv where res_id=#{resId}
</delete>

<update id="chargeReserv" parameterType="int">
update reserv set res_state='예약완료' where res_id=#{resId}
</update>

<update id="reqReserv" parameterType="int">
update reserv set req='Y' where res_id=#{resId}
</update>

<update id="reReserv" parameterType="int">
update reserv set req='N' where res_id=#{resId}
</update>

<select id="getAllReserv">
select res_id,loca_id,room_id,loca_name,loca_tel,loca_addr,res_id,room_id,user_id,res_name,res_tel,to_char(res_sdate,'yyyy-mm-dd') res_sdate,
 to_char(res_edate,'yyyy-mm-dd') res_edate,res_state,res_date,loca_price,(res_edate-res_sdate)*loca_price res_price,req from reserv_view order by res_sdate
</select>

<update id="acceptReq">
update reserv set req='C' where res_id=#{resId}
</update>

</mapper>