<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.prog.mapper.MessageMapper">
   <!-- 관리자 쪽지 리스트 -->
   <select id="messageList" resultType="MessageVO">
        select mnum, user_id, mtitle, mdate, mcheck from message order by mnum desc
   </select>
   
   <!-- 회원 쪽지 리스트 -->
   <select id="messageListByUser" resultType="MessageVO" parameterType="String">
    <!--  m_num, m_title, m_date, m_check -->
      select mnum, mtitle, mdate, mcheck from user_message where user_id = #{userId} order by mnum desc
   </select>
   
   
   
   <!-- 쪽지 단건 조회 (회원)-->
   <select id="selectMessage" resultType="MessageVO" parameterType="int">
     select * from user_message where mnum = #{mNum}
   </select>
   
   <!-- 쪽지 단건 조회(관리자) -->
     <select id="selectMessageM" resultType="MessageVO" parameterType="int">
     select * from message where mnum = #{mNum}
   </select>
   
   
   
   <!-- 쪽지 수신 상태 변경 message(관리자) -->
   <update id="updateCheckM" parameterType="int">
     update message set mcheck = 'Y' where mnum=#{mNum}
   </update>
   
   <!-- 쪽지 수신 상태 변경 user_message(회원) -->
     <update id="updateCheckUser" parameterType="int">
       update user_message set mcheck = 'Y' where mnum=#{mNum}
   </update>
   
   <!-- 쪽지 삭제 (회원)-->
   <delete id="messageRemove" parameterType="int">
     delete from user_message where mnum=#{mNum}
   </delete>
    <!-- 쪽지 삭제 (관리자)-->
   <delete id="messageRemoveManager" parameterType="int">
     delete from message where mnum=#{mNum}
   </delete>
   
   <!-- 쪽지 보내기 insert mesage(관리자)-->
   <insert id="insertMessage" parameterType="MessageVO">
     insert into message (user_id, mnum, mcontent, mtitle) values(#{userId} , message_seq.nextval , #{mContent}, #{mTitle})	
   </insert>
   <!-- 쪽지 보내기 insert user_message (회원) -->
   <insert id="insertMessageUser" parameterType="MessageVO">
     insert into user_message(user_id, mnum, mcontent, mtitle) values(#{userId} , user_message_seq.nextval , #{mContent}, #{mTitle})
   </insert>
   
</mapper>