<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.prog.mapper.MessageMapper">
	<!-- 관리자 쪽지 리스트 -->
	<select id="messageList" resultType="MessageVO">
	  	select m_num, user_id, m_title, m_date, m_check from message order by m_num desc
	</select>
	
	<!-- 회원 쪽지 리스트 -->
	<select id="messageListByUser" resultType="MessageVO" parameterType="String">
    <!--  m_num, m_title, m_date, m_check -->
      select m_num, m_title, m_date, m_check from message where user_id = #{userId} order by m_num desc
	</select>
	
	<!-- 쪽지 단건 조회 -->
	<select id="selectMessage" resultType="MessageVO" parameterType="int">
	  select * from message where m_num = #{mNum}
	</select>
	
	<!-- 쪽지 수신 상태 변경 -->
	<update id="updateCheck" parameterType="String">
	  update message set m_check = 'Y'
	  where m_num=#{mNum}
	</update>
	
	<!-- 쪽지 삭제 -->
	<delete id="messageRemove" parameterType="int">
	  delete from message where m_num=#{mNum}
	</delete>
</mapper>