<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prog.mapper.NoticeMapper">

	<select id="noticeList" >
		<![CDATA[
		select rownum, bo_tit	le,bo_date,bo_count,nickname,bo_id,usage
		from (select rownum, bo_title,bo_date,bo_count,nickname,bo_id,usage from notice_list_view order by bo_date)]]>
	</select>
	
	<select id="noticeListWithPaging" resultType="co.prog.vo.NoticeVO" parameterType="co.prog.vo.NoticeDTO">
		<![CDATA[
		select rn, bo_title, nickname, bo_date, bo_count, bo_id, usage
		from(select rownum rn, bo_title, nickname, bo_date, bo_count, bo_id, usage
		     from (select rownum rn, bo_title, nickname, bo_date, bo_count, bo_id, usage 
		           from notice_list_view 
		           where usage='a' 
		           order by bo_id desc) a
		     where rownum <=(${page}*10)) b
		where b.rn>(${page}-1)*10
		]]>
	</select>

	<insert id="insertNotice" parameterType="co.prog.vo.NoticeVO">
		INSERT INTO board (bo_id, user_id, bo_title, bo_cont, bo_img, usage)
		VALUES (notice_board_seq.NEXTVAL, #{userId}, #{boTitle}, #{boCont}, #{boImg}, #{usage})
	</insert>
	
	<select id = "selectNotice" resultType="co.prog.vo.NoticeVO">
		select * from board where bo_id = #{boId}
	</select>
	
	<update id="updateCount" parameterType="int">
		update board set bo_count = NVL(bo_count,0)+ 1
		where bo_id = #{boId}
	</update>
	
	<select id="getTotalCount" resultType="int" parameterType="string">
		select count(*) as totalCount from board
		where usage=#{usage}
	</select>
	
	<update id="updateNotice" parameterType="co.prog.vo.NoticeVO">
		update board set bo_title = #{boTitle}, bo_cont= #{boCont}
		<if test="boImg != null">
		 ,bo_img=#{boImg}
		</if>
		where bo_id = #{boId}
	</update>
	
	<delete id="deleteNotice" parameterType="int">
		delete from board where bo_id = #{boId}
	</delete>
	
	<select id="boardList">
		<![CDATA[
		select rownum, bo_title,bo_date,bo_count,nickname,bo_id,usage from (select rownum, bo_title,bo_date,bo_count,nickname,bo_id,usage from notice_list_view order by bo_date)]]>
	</select>
	
	<select id="boardListWithPaging" resultType="co.prog.vo.NoticeVO" parameterType="co.prog.vo.NoticeDTO">
		<![CDATA[
		select rn, bo_title, nickname, bo_date, bo_count, bo_id, usage
		from(select rownum rn, bo_title, nickname, bo_date, bo_count, bo_id, usage
		     from (select rownum rn, bo_title, nickname, bo_date, bo_count, bo_id, usage
		           from notice_list_view 
		           where usage=#{usage} 
		           order by bo_id desc) a
		     where rownum <=(${page}*10)) b
		where b.rn>(${page}-1)*10	
		]]>
	</select>
</mapper>