<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prog.mapper.ProductMapper">

	<!-- 전체상품 조회 -->
	<select id="productList"
		parameterType="co.prog.vo.SearchCondition"
		resultType="co.prog.vo.ProductVO">
		select * from products
		<where>
			<choose>
				<when test="cat == 'all'">
					1 = 1
				</when>
				<otherwise>
					cate_id = #{cat}
				</otherwise>
			</choose>
			<if test="order == 'price'">
				order by prod_price desc
			</if>
			<if test="order == 'price_low'">
				order by prod_price
			</if>
			<if test="order == 'brandnew'">
				order by prod_date desc
			</if>
		</where>
	</select>



	<select id="productListWithPaging"
		resultType="co.prog.vo.ProductVO" parameterType="int">
	    <![CDATA[
	    	select cate_id, prod_type, prod_name
	    	from(select rownum rn, cate_id, prod_type, prod_name
           	   from (select cate_id, prod_type, prod_name
                    from products
                     order by cate_id desc) a
                where rownum <= (#{page}*10)) b
	    	where b.rn> (#{page}-1)*10
	   ]]>


	</select>

	<select id="selectProduct" resultType="co.prog.vo.ProductVO"
		parameterType="co.prog.vo.ProductVO">
		select* from products where sku= #{sku}
	</select>

	<select id="getTotalCount" resultType="int">
		select count(*) from
		products
	</select>


	

</mapper>