<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.prog.mapper.UsersMapper">

	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="UsersVO">
		insert into users values(#{userId}, #{userName}, #{userPw}, #{userAddr}, #{userTel},#{nickname}, sysdate)
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="selectUserId" resultType="int">
		select count(*) from users where user_id = #{userId}
	</select>
	
	<!-- 로그인 -->
	<select id="login" parameterType="UsersVO" resultType="UsersVO">
		select * from users where user_id=#{Id}
	</select>
	
	<select id="selectUsers" parameterType="UsersVO" resultType="UsersVO">
		select * from users where user_id=#{Id}
	</select>
	<!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="usersVO" >
		update users
		set user_pw = #{userPw},
			user_addr = #{userAddr},
			user_tel = #{userTel},
			nickname = #{nickname}
		where user_id=#{userId}
	</update>

</mapper>